DevOps-Projects/Pipeline-K8S/K8S-YAML/mysql-secret.yml
Terraform-Clusters/clusters-tf/test/.terraform.lock.hcl
Terraform-Clusters/clusters-tf/test/terraform.tfstate.backup
Terraform-Clusters/clusters-tf/test/terraform.tfstate
Terraform-Clusters/clusters-tf/test/.terraform
Terraform-Clusters/clusters-tf/prod/.terraform
Terraform-Clusters/clusters-tf/prod/.terraform.lock.hcl
Terraform-Clusters/clusters-tf/prod/terraform.tfstate
Terraform-Clusters/clusters-tf/prod/terraform.tfstate.backup